@CHARSET "UTF-8";


/*Banner Color default #85C1E9 
Banner secondary #3498DB*/
body {
    background-color: #e0f7ff;
    background:url("http://i.imgur.com/rxSak6Lb.jpg") no-repeat fixed center;
    background-size:400px;
    
}

h1 {
    text-align: center;
}
